@font-face {
    font-family: mou;
    src: url('../../assets/mou.otf');
}

.home2-main {
    height: max-content;
    position: relative;
    background-color: #171717;
    padding: 80px 40px;
    padding-bottom: 10rem;
}

.main-head {
    height: max-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #171717;
}

.main-head h1 {
    position: relative;
    font-family: Moment;
    text-transform: uppercase;
    font-size: 3.7vmax;
    color: #fff;
    font-weight: 100;
    width: max-content;
    word-spacing: -24px;
    display: flex;
    
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.main-head h1 svg{
    rotate: 90deg;
}



.main-head p {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
text-transform: uppercase;
font-weight: 700;
    font-size: 1.4vmax;
    width: 650px;
    color: #535353;
}

@media (max-width:1100px) {

    .main-head h1 {
        font-size: 7vw;
        word-spacing: 0px;
        gap: 0.1rem;
    }


    .main-head {
        justify-content: center;
    }

    .main-head p {
        display: none;
    }
}

@media (max-width:600px) {
    .home2-main {
        padding: 80px 0px;
    }

    .main-head h1 {
        font-size: 8vw;
        gap: 0rem;
    }

    .main-head .dot {
        display: none;
    }
    .portfolios-main {
        position: relative;
        margin-top: 0rem !important;
    }
}

.portfolios-main {
    position: relative;
    margin-top: 5rem;
}